<p-toast position="center"></p-toast>
<p-confirmDialog #cd [style]="{width: '40vw'}" [baseZIndex]="10000">
    <p-footer>
        <button type="button" pButton icon="pi pi-check" label="Oui" (click)="cd.accept()"></button>
        <button type="button" class="p-button-danger" pButton icon="pi pi-times" label="Non"
            (click)="cd.reject()"></button>
    </p-footer>
</p-confirmDialog>
<p-dialog header="Importer un fichier" [(visible)]="fileDialog" [focusOnShow]="false" [responsive]="true"
    showEffect="fade" [modal]="true" [style]="{width: '50vw'}">
    <div class="ui-g form-group">
        <p-fileUpload chooseLabel="Importer un fichier" name="importcsv" uploadLabel="Enrégistrer" cancelLabel="Annuler"
            accept=".txt,.csv,.xls,.xlsx" customUpload="true" (uploadHandler)="onUpload($event)">
        </p-fileUpload>
    </div>
    <p-footer>
        <button type="button" class="p-button-danger p-mr-2 p-button-raised" pButton pRipple icon="pi pi-times"
            (click)="cancel()" label="Annuler"></button>

    </p-footer>
</p-dialog>
<div class="ui-g">
    <div class="ui-g-12">
        <div class="card no-margin">

            <h6>Liste des familles de produit</h6>
            <p-toolbar>
                <div class="p-toolbar-group-left p-md-7">
                    <span class="p-input-icon-left" style="width: 90%;">
                        <i class="pi pi-search"></i>
                        <input type="text" style="width:98%;" pInputText placeholder="Taper pour rechercher"
                            (keyup.enter)="search($event)">
                    </span>
                </div>
                <div class="p-toolbar-group-right">
                    <button pButton pRipple type="button" icon="pi pi-upload" (click)="showFileDialog()"
                        class="p-button-raised p-button-help p-mr-2" label="Importer"></button>
                    <button pButton pRipple type="button" icon="pi pi-check" iconPos="left" label="Nouveau"
                        class="p-button-raised p-button-success" (click)="addNewEntity()"></button>
                </div>
            </p-toolbar>




            <div class="alert alert-warning" id="no-result" *ngIf="entites?.length === 0">
                <span>Aucune donnée trouvée</span>
            </div>
            <p-table *ngIf="entites && entites.length > 0" styleClass="ui-table-cars" [value]="entites"
                [paginator]="true" [rows]="itemsPerPage" dataKey="id" selectionMode="single" [(selection)]="selectedEl"
                [lazy]="true" [totalRecords]="totalItems" [loading]="loading" (onLazyLoad)="lazyLoading($event)">
                <ng-template pTemplate="header">
                    <tr>
                        <th scope="col"><span>Code</span> </th>
                        <th scope="col"><span>Libellé</span> </th>
                        <th scope="col"><span>Catégorie article</span> </th>

                        <!--    <th scope="col"></th> -->
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-elRow let-columns="columns">
                    <tr [pSelectableRow]="elRow" [pEditableRow]="elRow">
                        <td>{{ elRow.code }}</td>
                        <td>{{ elRow.libelle }}</td>
                        <td>{{ elRow.categorieLibelle }}</td>
                        <td style="text-align: center;">
                            <button pButton pRipple icon="pi pi-pencil" type="submit" pTooltip="Supprimer"
                                pTooltip="Editer" class="p-button-rounded p-button-success p-mr-2"
                                (click)="onEdit(elRow)"></button>
                            <button pButton pRipple icon="pi pi-trash" type="submit"
                                class="p-button-rounded p-button-warning" (click)="delete(elRow)"></button>
                        </td>
                    </tr>
                </ng-template>

            </p-table>
        </div>
    </div>

</div>