<p-toast position="center"></p-toast>
<p-confirmDialog #cd [style]="{width: '40vw'}" [baseZIndex]="10000">
    <p-footer>

        <button type="button" pButton icon="pi pi-check" label="Oui" (click)="cd.accept()"></button>
        <button type="button" class="p-button-danger" pButton icon="pi pi-times" label="Non"
            (click)="cd.reject()"></button>
    </p-footer>

</p-confirmDialog>

<p-dialog header="Importer un fichier" [(visible)]="fileDialog" [focusOnShow]="false" [responsive]="true"
    showEffect="fade" [modal]="true" [style]="{width: '50vw'}">
    <div class="ui-g form-group">
        <p-fileUpload chooseLabel="Importer un fichier" name="importcsv" uploadLabel="Enrégistrer" cancelLabel="Annuler"
            accept=".txt,.csv,.xls,.xlsx" customUpload="true" (uploadHandler)="onUpload($event)">
        </p-fileUpload>
    </div>
    <p-footer>
        <button type="button" class="p-button-danger p-mr-2 p-button-raised" pButton pRipple icon="pi pi-times"
            (click)="cancel()" label="Annuler"></button>

    </p-footer>
</p-dialog>

<p-dialog header="Message" [(visible)]="responseDialog" [focusOnShow]="false" [responsive]="true" showEffect="fade"
    [modal]="true" [style]="{width: '500px'}">

    <div class="ui-g form-group">
        <p>Le nombre de lignes insérées <span style="font-weight: 900; margin-left: 10px;"> {{responsedto?.size}}</span>
        </p>

    </div>
</p-dialog>
<div class="ui-g">
    <div class="p-col-12">
        <div class="card no-margin">
            <h6> Liste des produits</h6>
            <p-toolbar>
                <div class="p-toolbar-group-left p-md-9">
                    <div class="p-grid">
                        <div class="p-col">
                            <p-dropdown [options]="filtesProduits" [(ngModel)]="selectedCriteria" [filter]="false"
                                (onChange)="filtreClik($event)" placeholder="Filtrer par critère"
                                styleClass="dropdown-width">
                            </p-dropdown>
                        </div>

                        <div class="p-col">
                            <p-dropdown [options]="rayons" (onChange)="filtreRayon($event)" [(ngModel)]="selectedRayon"
                                [filter]="true" placeholder="Séléctionner un rayon " styleClass="dropdown-width">
                            </p-dropdown>

                        </div>
                        <div class="p-col">
                            <p-dropdown [options]="familles" (onChange)="filtreFamilleProduit($event)"
                                [(ngModel)]="selectedFamille" [filter]="true" placeholder="Séléctionner une famille"
                                styleClass="dropdown-width">
                            </p-dropdown>
                        </div>
                        <div class="p-col">
                            <span class="p-input-icon-left">
                                <i class="pi pi-search"></i>
                                <input type="text" pInputText placeholder="Taper pour rechercher"
                                    (keyup.enter)="search($event)">
                            </span>
                        </div>

                    </div>

                </div>
                <div class="p-toolbar-group-right">
                    <p-splitButton label="Importer" icon="pi pi-upload" [model]="splitbuttons"
                        styleClass="p-button-raised p-button-help p-mr-2 p-mb-2"></p-splitButton>
                    <button pButton pRipple type="button" icon="pi pi-check" iconPos="left" label="Nouveau"
                        class="p-button-raised p-mr-2 p-mb-2 p-button-success" (click)="addNewEntity()"></button>
                </div>
            </p-toolbar>
            <p-table *ngIf="entites && entites.length > 0" styleClass="ui-table-cars" [value]="entites"
                [paginator]="true" [rows]="itemsPerPage" dataKey="id" selectionMode="single" [(selection)]="selectedEl"
                [lazy]="true" [totalRecords]="totalItems" [loading]="loading" (onLazyLoad)="lazyLoading($event)"
                [resizableColumns]="true" dataKey="id">

                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem"></th>
                        <th scope="col" style="width:5%"><span>Code</span> </th>
                        <th scope="col" style="width:20%"><span>Libellé</span> </th>
                        <th class="number" scope="col" style="width:5%"><span>Prix.A</span> </th>
                        <th class="number" scope="col" style="width:5%"><span>Prix.U</span> </th>
                        <th class="number" scope="col" style="width:5%;"><span>Stock total</span> </th>
                        <th class="number" scope="col" style="width:5%;"><span>Stock mini</span> </th>
                        <th class="number" scope="col" style="width:5%;"><span>Qté réappro</span> </th>
                        <th class="number" scope="col" style="width:5%;"><span>Qté détail</span> </th>
                        <th scope="col" style="width:10%"></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-elRow let-columns="columns" let-expanded="expanded">
                    <tr [pSelectableRow]="elRow" [pEditableRow]="elRow">
                        <td>
                            <button type="button" pButton pRipple [pRowToggler]="elRow"
                                class="p-button-text p-button-rounded p-button-plain"
                                [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
                        </td>
                        <td>{{ elRow.codeCip }}</td>
                        <td>{{ elRow.libelle }}</td>
                        <td class="number">{{ elRow.prixPaf | number}}</td>
                        <td class="number">{{ elRow.prixUni | number}}</td>
                        <td class="number"><span class="p-badge p-badge-{{elRow.qtyStatus}}">{{
                                elRow.totalQuantity | number}}</span></td>
                        <td class="number">{{ elRow.qtySeuilMini | number}}</td>
                        <td class="number">{{ elRow.qtyAppro | number}}</td>
                        <td class="number">{{ elRow.qtyDetails | number}}</td>
                        <!-- <td> <span class="p-tag p-tag-warning">{{ elRow.status}}</span></td> -->
                        <td style="text-align: center;">
                            <button pButton pRipple icon="pi pi-pencil" type="submit" pTooltip="Supprimer"
                                pTooltip="Editer" class="p-button-rounded p-button-success p-mr-2"
                                (click)="onEdit(elRow)"></button>
                            <button pButton pRipple icon="pi pi-trash" type="submit"
                                class="p-button-rounded p-button-warning" (click)="delete(elRow)"></button>

                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="rowexpansion" let-elRow>
                    <tr>
                        <td colspan="10">
                            <div class="invoice">
                                <div class="invoice-item">
                                    <div class="p-grid">
                                        <div class="p-col-12 p-md-12 p-lg-6">
                                            <div class="card">
                                                <table class="invoice-table">
                                                    <tbody>
                                                        <tr>
                                                            <td class="firstColumn">
                                                                PMP
                                                            </td>
                                                            <td class="secondColumn">{{elRow?.prixMnp |number}}
                                                            </td>

                                                            <td class="firstColumn">
                                                                Etiquette
                                                            </td>
                                                            <td class="secondColumn">{{selectedEl?.typeEtyquetteLibelle
                                                                }}
                                                            </td>

                                                        </tr>

                                                        <tr>
                                                            <td class="firstColumn">
                                                                Date dernière vente
                                                            </td>
                                                            <td class="secondColumn">{{elRow?.lastDateOfSale |
                                                                date:'dd/MM/yyyy HH:mm' }}
                                                            </td>
                                                            <td class="firstColumn">
                                                                Date dernière entrée en stock
                                                            </td>
                                                            <td class="secondColumn">{{elRow?.lastOrderDate |
                                                                date:'dd/MM/yyyy HH:mm' }}
                                                            </td>

                                                        </tr>

                                                        <tr>
                                                            <td class="firstColumn">
                                                                Date de création
                                                            </td>
                                                            <td class="secondColumn">{{elRow?.createdAt |
                                                                date:'dd/MM/yyyy HH:mm' }}
                                                            </td>
                                                            <td class="firstColumn">
                                                                Date dernière inventaire
                                                            </td>
                                                            <td class="secondColumn">{{elRow?.lastInventoryDate |
                                                                date:'dd/MM/yyyy HH:mm' }}
                                                            </td>

                                                        </tr>
                                                        <tr>
                                                            <td class="firstColumn">
                                                                Date péremption
                                                            </td>
                                                            <td class="secondColumn">{{elRow?.perimeAt |
                                                                date:'dd/MM/yyyy HH:mm' }}
                                                            </td>
                                                            <td class="firstColumn">
                                                                Tva
                                                            </td>
                                                            <td class="secondColumn">{{elRow?.tvaTaux }}

                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="firstColumn">
                                                                Etiquette
                                                            </td>
                                                            <td class="secondColumn">{{elRow?.typeEtyquetteLibelle
                                                                }}
                                                            </td>

                                                            <td class="firstColumn">
                                                                Forme
                                                            </td>
                                                            <td class="secondColumn">{{elRow?.formeLibelle }}
                                                            </td>

                                                        </tr>
                                                        <tr>
                                                            <td class="firstColumn">
                                                                Famille
                                                            </td>
                                                            <td class="secondColumn">{{elRow?.familleLibelle }}

                                                            </td>
                                                            <td class="firstColumn">
                                                                Laboratoire
                                                            </td>
                                                            <td class="secondColumn">{{elRow?.laboratoireLibelle }}
                                                            </td>

                                                        </tr>

                                                    </tbody>
                                                </table>



                                            </div>
                                        </div>
                                        <div class="p-col-12 p-md-12 p-lg-6">
                                            <div class="card widget-global-sales">
                                                <h6 style="font-weight: 700;">Répartition du stock</h6>
                                                <table class="invoice-table">
                                                    <thead>
                                                        <tr>
                                                            <th>Magasin</th>
                                                            <th>Rayon</th>
                                                            <th>Stock</th>

                                                            <th style="text-align:right;" pTooltip="Repartir le stock">
                                                                <button (click)="addStock()" pButton icon="pi pi-plus"
                                                                    class="p-button-rounded p-button-primary"></button>
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr *ngFor="let stock of elRow?.stockProduits; let i = index">
                                                            <td>{{stock.nomMagasin}}</td>
                                                            <td>{{stock.rayonLibelle}}</td>
                                                            <td>{{stock.qtyStock | number}}</td>
                                                            <td>
                                                                <button pButton pRipple icon="pi pi-pencil"
                                                                    class="p-button-rounded p-button-success p-mr-2"
                                                                    (click)="editStock(stock)"></button>
                                                                <button pButton pRipple icon="pi pi-trash"
                                                                    class="p-button-rounded p-button-danger"
                                                                    (click)="removeStock(stock)"></button>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="card widget-global-sales">
                                                <h6 style="font-weight: 700;">Gestion des grossistes du produit</h6>
                                                <table class="invoice-table">
                                                    <thead>
                                                        <tr>
                                                            <th style="width:40%">Grossiste</th>
                                                            <th style="width:15%">Cip</th>
                                                            <th style="width:10%">Prix.A</th>
                                                            <th style="width:10%">Prix.U</th>
                                                            <th style="width: 25%;text-align:right;">
                                                                <button pTooltip="Ajouter un fournisseur"
                                                                    (click)="addProduitFour()" pButton icon="pi pi-plus"
                                                                    class="p-button-rounded p-button-primary"></button>
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr
                                                            *ngFor="let four of elRow?.fournisseurProduits; let i = index">
                                                            <td>{{four.fournisseurLibelle}}</td>
                                                            <td>{{four.codeCip}}</td>
                                                            <td>{{four.prixAchat | number}}</td>
                                                            <td>{{four.prixUni | number}}</td>
                                                            <td>
                                                                <p-inputSwitch [(ngModel)]="four.principal"
                                                                    pTooltip="Changer en fournisseur principal">
                                                                </p-inputSwitch>
                                                                <button pButton pRipple icon="pi pi-pencil"
                                                                    pTooltip="Editer"
                                                                    class="p-button-rounded p-button-success p-mr-2 p-ml-2 p-mb-3"
                                                                    (click)="editProduitFour(four)"></button>

                                                                <button pButton pRipple icon="pi pi-trash"
                                                                    pTooltip="Supprimer"
                                                                    class="p-button-rounded p-button-danger p-mb-3"
                                                                    (click)="removeProduitFour(four)"></button>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>

                                            <div class="card widget-global-sales" *ngIf="elRow?.deconditionnable">
                                                <h6 style="font-weight: 700;">Déconditionés</h6>
                                                <table *ngIf="selectedEl" class="invoice-table">
                                                    <thead>
                                                        <tr>
                                                            <th>Stock</th>
                                                            <th>Prix.A</th>
                                                            <th>Prix.U</th>
                                                            <th style="text-align:right;">
                                                                <button (click)="addDetails()"
                                                                    pTooltip="Créer un déconditioné" pButton
                                                                    icon="pi pi-plus"
                                                                    class="p-button-rounded p-button-primary"></button>
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr *ngFor="let pr of elRow?.produits; let i = index">
                                                            <td>{{pr.totalQuantity}}</td>
                                                            <td>{{pr.prixPaf | number}}</td>
                                                            <td>{{pr.prixUni | number}}</td>
                                                            <td>

                                                                <button pButton pRipple icon="pi pi-pencil"
                                                                    pTooltip="Déconditionez"
                                                                    class="p-button-rounded p-button-success p-mr-2"
                                                                    (click)="deconditionProduit(pr)"></button>


                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>

                                        </div>


                                    </div>
                                </div>


                            </div>


                        </td>
                    </tr>
                </ng-template>



                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="9">Aucun produit trouvé.</td>
                    </tr>
                </ng-template>
            </p-table>





        </div>


    </div>