  .p-toolbar {
     padding: 0 !important;
}
   .p-autocomplete{ width: 100%; }
   .invoice{
 padding:0;
   }
   .invoice,.invoice .invoice-items {
     margin-top: 0; 
     padding-top: 0;
    
    }
  body .ui-inputtext{
   width: 100% !important;
}
body .ui-dropdown{
    width: 100% !important;
}

.secondColumn {
 
  color:blue;
}

.actions{
  text-align:center  !important;
}
 .invoice-table {
      width: 100%;
    border-collapse: collapse;
}
.invoice-table tr{
       border-bottom: 1px solid #dee2e6;
}
.invoice-table td:first-child {
    text-align: left;
}
.invoice-table td {
    padding: 0.8rem;
 
}
.p-datatable .p-datatable-header {
   
    text-align: center;
}