.nucleuschecbox {
    margin-top: 25px !important;
}

.customModal {
    max-height: 100%;
}

.customModal .ui-dialog-content {
    height: 100%;
}

.card .card-header {
    display: block;
    text-align: right;
}

.p-fieldset .p-fieldset-content {
    padding: 2px;
}