
<p-confirmDialog #cd [style]="{width: '40vw'}" [baseZIndex]="10000"
>
    <p-footer>
       
        <button type="button" pButton icon="pi pi-check" label="Oui" (click)="cd.accept()"></button>
        <button   type="button" class="ui-button-danger" pButton icon="pi pi-times" label="Non" (click)="cd.reject()"></button>
    </p-footer>

</p-confirmDialog>

<div class="ui-g">
    <div class="ui-g-12">
    <div class="card no-margin">

        <h3 style="width: 100%;" >Liste des Tvas
            <button type="button" label="Nouveau" pButton icon="fa fa-plus" style="float: right;width: auto;"
            (click)='addNewEntity()'> </button> </h3>
        <div class="alert alert-warning" id="no-result" *ngIf="tvas?.length === 0">
            <span >Aucune tva trouvée</span>
        </div>
        <p-table *ngIf="tvas && tvas.length > 0" styleClass="ui-table-cars"
                 [value]="tvas" [paginator]="true"
                 [rows]="itemsPerPage" dataKey="id" selectionMode="single"
                 [(selection)]="selectedTva"
                 [lazy]="true"
                 [totalRecords]="totalItems"
                 [loading]="loading"
                 (onLazyLoad)="lazyLoading($event)"
        >
            <ng-template pTemplate="header">
                <tr>
                    <th scope="col"><span >Taux</span> </th>
                    
                    <th scope="col"></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-tva let-columns="columns">
                <tr [pSelectableRow]="tva" [pEditableRow]="tva">
                    <td>{{ tva.taux }}</td>
                   
                    <td>
                        <button label="Editer" pButton type="submit"
                                class="ui-button-success" icon="fa fa-pencil-square-o" style="margin-right: .5em"
                                (click)="onEdit(tva)"
                        ></button>

                        <button label="Supprimer"
                                pButton type="submit"
                                class="ui-button-danger" icon="fa fa-times-circle-o"
                                (click)="delete(tva)"
                        >

                        </button>
                    </td>
                </tr>
            </ng-template>

        </p-table>
    </div>
    </div>
<!-- formulaire de creation et d edition-->
<form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
<p-dialog 
header="Créer ou éditer une Tva"
 [(visible)]="displayDialog"
 [focusOnShow]="false" [responsive]="true"
  showEffect="fade" [modal]="true" 
   [style]="{width: '400px'}"
   >
  
    <div class="form-group" [hidden]="!editForm.get('id')!.value">
    
        <input type="hidden" class="form-control" id="id" name="id" formControlName="id" readonly />
    </div>
    <div class="ui-g form-group">
        
            <label for="field_taux">Taux tva</label>
            <div class="ui-g-12" style="margin-bottom:10px">
                <input type="number" pInputText class="form-control" name="taux" id="field_taux"
                formControlName="taux" style="width: 100%;"/>
            </div>
            <div *ngIf="editForm.get('taux')!.invalid && (editForm.get('taux')!.dirty || editForm.get('taux')!.touched)">
                <small class="form-text text-danger" style="color: red;"
                       *ngIf="editForm.get('taux')?.errors?.required" >
                  Ce champ est obligatoire.
                </small>
                <small class="form-text text-danger" style="color: red;"
                    [hidden]="!editForm.get('taux')?.errors?.number" >
                    Ce champ doit être un nombre.
                </small>
            </div>
        
        </div>
 
  
   <p-footer>
    
        <button type="submit" [disabled]="editForm.invalid || isSaving" pButton icon="pi pi-check" (click)="save()" label="Enregistrer"></button>
        <button type="button"class="ui-button-danger"  pButton icon="pi pi-times" (click)="cancel()" label="Annuler"></button>
    
</p-footer>
</p-dialog>
</form>
</div>
