<p-toast position="center"></p-toast>
<form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">

    <div class="p-col-12">
        <div class="form-group" [hidden]="!editForm.get('id')!.value">
            <input type="hidden" class="form-control" id="id" name="id" formControlName="id" readonly />
        </div>


        <div class="p-fluid p-formgrid p-grid">
            <div class="p-field p-col">
                <label class="col-auto col-form-label">Libellé<span
                        style="font-weight: 900;color: red;">*</span></label>
                <input type="text" pInputText class="form-control" formControlName="libelle" name="libelle"
                    autocomplete="off" />
                <div
                    *ngIf="editForm.get('libelle')!.invalid && (editForm.get('libelle')!.dirty || editForm.get('libelle')!.touched)">
                    <small class="form-text text-danger" style="color: red;"
                        *ngIf="editForm.get('libelle')?.errors?.required">
                        Ce champ est obligatoire.
                    </small>

                </div>
            </div>
        </div>
        <div class="p-fluid p-formgrid p-grid">
            <div class="p-field p-col">
                <label class="col-auto col-form-label">Code<span style="font-weight: 900;color: red;">*</span></label>
                <input type="text" pInputText class="form-control" formControlName="code" name="code"
                    autocomplete="off" />
                <div
                    *ngIf="editForm.get('code')!.invalid && (editForm.get('code')!.dirty || editForm.get('code')!.touched)">
                    <small class="form-text text-danger" style="color: red;"
                        *ngIf="editForm.get('code')?.errors?.required">
                        Ce champ est obligatoire.
                    </small>

                </div>
            </div>
        </div>
        <div class="p-fluid p-formgrid p-grid">
            <div class="p-field p-col">
                <label class="col-auto col-form-label">Catégorie<span
                        style="font-weight: 900;color: red;">*</span></label>

                <p-dropdown appendTo="body" [options]="categorieproduits" styleClass="form-control" id="categorieId"
                    name="categorieId" formControlName="categorieId" [filter]="false"
                    placeholder="Séléctionner une catégorie " [virtualScroll]="true" [style]="{'width':'100%'}">
                </p-dropdown>
                <div
                    *ngIf="editForm.get('categorieId')!.invalid && (editForm.get('categorieId')!.dirty || editForm.get('categorieId')!.touched)">
                    <small class="form-text text-danger" style="color: red;"
                        *ngIf="editForm.get('categorieId')?.errors?.required">
                        Ce champ est obligatoire.
                    </small>

                </div>
            </div>
        </div>
    </div>
    <div style="float: right;">
        <button pButton pRipple type="submit" [disabled]="editForm.invalid || isSaving" icon="pi pi-check"
            class="p-button-success p-mr-2 p-button-raised" (click)="save()" label="Enregistrer"></button>
        <button type="button" class="p-button-danger p-mr-2 p-button-raised" pButton pRipple icon="pi pi-times"
            (click)="cancel()" label="Annuler"></button>
    </div>

</form>