<p-toast position="center"></p-toast>
<form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
    <div class="p-col-12">

        <div [hidden]="!editForm.get('id')!.value">
            <input type="hidden" class="form-control" id="id" name="id" formControlName="id" />
            <input type="hidden" class="form-control" id="compteClientId" name="compteClientId"
                formControlName="compteClientId" />
        </div>
        <p-fieldset [toggleable]="true">
            <p-header>Informations générales</p-header>
            <div class="p-fluid p-formgrid p-grid">
                <div class="p-field p-col">
                    <label for="field_firstName" class="col-sm-1 col-form-label">Nom<span
                            style="font-weight: 900;color: red;">*</span></label>

                    <input type="text" pInputText class="form-control" name="firstName" id="field_firstName"
                        formControlName="firstName" />
                </div>
                <div class="p-field p-col">
                    <label for="field_lastName" class="col-sm-1 col-form-label">Prénom(s)<span
                            style="font-weight: 900;color: red;">*</span></label>

                    <input type="text" pInputText class="form-control" name="lastName" id="field_lastName"
                        formControlName="lastName">
                </div>
                <div class="p-field p-col">
                    <label for="typeClient" class="col-auto col-form-label">Type compte<span
                            style="font-weight: 900;color: red;">*</span></label>
                    <p-dropdown [options]="types" styleClass="form-control" id="typeClient" name="typeClient"
                        (onChange)="onTypeClientValueChange($event.value)" formControlName="typeClient"
                        styleClass="dropdown-width" [filter]="false" placeholder="Séléctionner un type " itemSize="3">
                    </p-dropdown>
                </div>
                <div class="p-field p-col">
                    <label class="col-auto col-form-label">Tiers-payant<span
                            style="font-weight: 900;color: red;">*</span></label>
                    <p-autoComplete formControlName="tierspayantId" name="tierspayantId"
                        [suggestions]="tierspayantsSearch" (completeMethod)="searchTiersPayant($event)"
                        field="libelLong" [forceSelection]="true" (onSelect)="onSelectTiersPayant($event)" minLength=1
                        [style]="{'width':'100%'}" [inputStyle]="{'width':'100%'}" class="p-autocomplete"
                        placeholder="Taper pour rechercher">

                    </p-autoComplete>

                </div>
                <div class="p-field p-col-1">
                    <label class="col-auto col-form-label">Taux<span
                            style="font-weight: 900;color: red;">*</span></label>

                    <p-inputNumber class="form-control" name="taux" formControlName="taux">
                    </p-inputNumber>
                </div>
            </div>
            <div class="p-fluid p-formgrid p-grid">
                <div class="p-field p-col">
                    <label class="col-sm-1 col-form-label">Matricule</label>

                    <input type="text" pInputText class="form-control" name="numMaticule" formControlName="numMaticule">
                </div>
                <div class="p-field p-col">
                    <label for="field_datNaiss" class="col-auto col-form-label">Date de naissance</label>
                    <p-inputMask mask="99/99/9999" name="datNaiss" id="field_datNaiss" formControlName="datNaiss"
                        placeholder="01/11/2020" slotChar="dd/mm/yyyy"></p-inputMask>
                </div>
                <div class="p-field p-col">
                    <label class="col-auto col-form-label" for="field_mobile">Mobile</label>
                    <input type="text" pInputText pKeyFilter="int" class="form-control" name="mobile" id="field_mobile"
                        formControlName="mobile">
                </div>
                <div class="p-field p-col">
                    <label class="col-auto col-form-label">Plafond</label>
                    <p-inputNumber class="form-control" formControlName="plafondMensuel" name="plafondMensuel">
                    </p-inputNumber>
                </div>
                <div class="p-field p-col">
                    <p-checkbox [binary]="true" label="Le plafond est-il absolu ?" formControlName="absolute"
                        name="absolute" styleClass="nucleuschecbox" labelStyleClass="nucleuschecbox">
                    </p-checkbox>
                </div>
                <div class="p-field p-col">
                    <label class="col-md-2 col-form-label">Plafond vente</label>
                    <p-inputNumber name="plafondJournalier" class="form-control" formControlName="plafondJournalier">
                    </p-inputNumber>
                </div>

            </div>
            <div class="p-fluid p-formgrid p-grid">
                <div class="p-field p-col">
                    <label class="col-auto col-form-label" for="field_mail">E-mail</label>
                    <input type="text" pInputText class="form-control" name="mail" id="field_mail"
                        formControlName="mail">
                </div>

                <div class="p-field p-col">
                    <label class="col-sm-2 col-form-label" for="field_remiseId">Remise</label>

                    <p-dropdown [options]="remises" styleClass="form-control" id="field_remiseId" name="remiseId"
                        formControlName="remiseId" styleClass="dropdown-width" [filter]="true"
                        placeholder="Séléctionner une remise " [virtualScroll]="true" itemSize="30">
                    </p-dropdown>
                </div>
                <div class="p-field p-col">
                    <label class="col-sm-2 col-form-label" for="field_compagnieId">Entreprises</label>

                    <p-dropdown [options]="compagnies" styleClass="form-control" id="field_compagnieId"
                        name="compagnieId" formControlName="compagnieId" styleClass="dropdown-width" [filter]="true"
                        placeholder="Séléctionner une entreprise " [virtualScroll]="true" itemSize="30">
                    </p-dropdown>
                </div>
                <div class="p-field p-col p-field-radiobutton">
                    <label for="field_sexe" class="col-form-label p-mr-4">Sexe</label>
                    <p-radioButton class="form-control" name="sexe" id="field_sexe" inputId="field_sexe" value="F"
                        formControlName="sexe"></p-radioButton>
                    <label for="field_sexe" class="p-mr-4">Féminin</label>
                    <p-radioButton class="form-control" name="sexe" id="field_sexe_m" inputId="field_sexe_m" value="M"
                        formControlName="sexe"></p-radioButton>
                    <label for="field_sexe_m">Masculin</label>
                </div>
            </div>

        </p-fieldset>
        <div class="p-mb-2"></div>
        <div class="p-grid" *ngIf="editForm.controls.typeClient.value!=types[0].value">
            <div class="p-col ">
                <p-fieldset [toggleable]="true">
                    <p-header>Assurances complémentaires
                    </p-header>
                    <div *ngIf="validSize" style="text-align: right;margin-top: -35px;"><button pButton type="button"
                            icon="pi pi-plus" class="p-button-rounded p-button-success"
                            (click)="addCompteClient()"></button></div>
                    <div formArrayName="compteClients"
                        *ngFor="let compteclient of editForm.get('compteClients')['controls']; let i = index">
                        <ng-container [formGroupName]="i">
                            <input type="hidden" class="form-control" formControlName="id" />
                            <div class="card p-mb-1" style="padding:3px;">
                                <div class="p-fluid p-formgrid p-grid">
                                    <div class="p-field p-col">
                                        <label class="col-auto col-form-label">Tiers-payant<span
                                                style="font-weight: 900;color: red;">*</span></label>
                                        <p-autoComplete formControlName="tierspayantId" [forceSelection]="true"
                                            [suggestions]="tierspayantsSearch"
                                            (completeMethod)="searchTiersPayant($event)" field="libelLong"
                                            [forceSelection]="true" (onSelect)="onSelectTiersPayant($event)" minLength=1
                                            [style]="{'width':'100%'}" [inputStyle]="{'width':'100%'}"
                                            class="p-autocomplete" placeholder="Taper pour rechercher">
                                        </p-autoComplete>

                                    </div>
                                    <div class="p-field p-col-2">
                                        <label class="col-auto col-form-label">Taux<span
                                                style="font-weight: 900;color: red;">*</span></label>
                                        <p-inputNumber class="form-control" formControlName="taux"></p-inputNumber>
                                    </div>
                                    <div class="p-field p-col">
                                        <label class="col-sm-1 col-form-label">Matricule</label>

                                        <input type="text" pInputText class="form-control"
                                            formControlName="numMaticule">
                                    </div>
                                    <div class="p-field p-col-1">
                                        <button (click)="removeComptClient(i)" pButton type="button" icon="pi pi-times"
                                            class="p-button-rounded p-button-danger  p-mt-4"></button>
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                    </div>

                </p-fieldset>

            </div>
            <div class="p-col" *ngIf="!entity">
                <p-fieldset [toggleable]="true">
                    <p-header>Ayant droit
                    </p-header>
                    <div *ngIf="ayantDroitSize" style="text-align: right;margin-top: -35px;"><button pButton
                            type="button" icon="pi pi-plus" class="p-button-rounded p-button-success"
                            (click)="addAyantDroit()"></button></div>
                    <div formArrayName="ayantDroits"
                        *ngFor="let compteclient of editForm.get('ayantDroits')['controls']; let i = index">
                        <ng-container [formGroupName]="i">
                            <div class="card" style="padding:3px;">
                                <div class="p-fluid p-formgrid p-grid">
                                    <div class="p-field p-col">
                                        <label class="col-auto col-form-label">Nom<span
                                                style="font-weight: 900;color: red;">*</span></label>
                                        <input type="text" pInputText class="form-control"
                                            formControlName="firstName" />

                                    </div>
                                    <div class="p-field p-col">
                                        <label class="col-auto col-form-label">Prénom<span
                                                style="font-weight: 900;color: red;">*</span></label>

                                        <input type="text" pInputText class="form-control" formControlName="lastName" />
                                    </div>

                                    <div class="p-field p-col-1">
                                        <button (click)="removeAyantDroit(i)" pButton type="button" icon="pi pi-times"
                                            class="p-button-rounded p-button-danger  p-mt-4"></button>
                                    </div>
                                </div>
                                <div class="p-fluid p-formgrid p-grid">
                                    <div class="p-field p-col">
                                        <label class="col-sm-1 col-form-label">Matricule</label>
                                        <input type="text" pInputText class="form-control" formControlName="num">
                                    </div>
                                    <div class="p-field p-col">
                                        <label class="col-auto col-form-label">Téléphone</label>
                                        <p-inputNumber class="form-control" formControlName="mobile"></p-inputNumber>
                                    </div>
                                    <div class="p-field p-col">
                                        <label class="col-auto col-form-label">Date de naissance</label>
                                        <p-inputMask mask="99/99/9999" name="datNaiss" id="field_datNaiss"
                                            formControlName="datNaiss" placeholder="01/11/2020" slotChar="dd/mm/yyyy">
                                        </p-inputMask>
                                    </div>
                                </div>

                            </div>
                        </ng-container>
                    </div>

                </p-fieldset>

            </div>
        </div>
    </div>
    <!--  [disabled]="editForm.invalid || isSaving" -->
    <div style="float: right;">
        <button pButton pRipple type="submit" [disabled]="editForm.invalid || isSaving" icon="pi pi-check"
            class="p-button-success p-mr-2 p-button-raised" (click)="save()" label="Enregistrer"></button>
        <button type="button" class="p-button-danger p-mr-2 p-button-raised" pButton pRipple icon="pi pi-times"
            (click)="cancel()" label="Annuler"></button>
    </div>

</form>